<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/img/favicon.png" rel="SHORTCUT ICON">
    <title>Economic News Brain</title>

    <!-- Bootstrap JQuery -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- MD5 -->
    <script src="/static/js/md5.js"></script>

    <link rel="stylesheet" href="/static/css/navigator.css"/>
    <link rel="stylesheet" href="/static/css/popovers.css"/>
    <link rel="stylesheet" href="/static/css/message-list.css"/>
    <script src="/static/js/userAuth.js"></script>
    <script src="/static/js/accessory.js"></script>
    <script src="/static/js/accessory-adjust.js"></script>

    <script type="text/javascript">

    function sendData(news_id, table_name) {
        const data = {table_name: table_name, news_id: news_id};

        var temp_form = document.createElement("form");
        temp_form.action = '/editor_news';
        temp_form.method = "post";
        temp_form.style.display="none"

        for (var x in data) {
            var opt = document.createElement("input");
            opt.name = x;
            opt.value = data[x];
            temp_form.appendChild(opt);
        }

        var opt = document.createElement("input");
        opt.type = "submit";
        temp_form.appendChild(opt);
        document.body.appendChild(temp_form);
        temp_form.submit();
        document.body.removeChild(temp_form);
    }

    function add_to_report(news_id, table_name)
    {
        var id = news_id + "_add_box";
    	var bton = document.getElementById(id).innerHTML;
    	if(bton === "join weekly report"){
    		document.getElementById(id).innerHTML="unjoin";
    	}
    	if(bton === "unjoin"){
    		document.getElementById(id).innerHTML="join weekly report";
    	}
    	var input = {
            "news_id": news_id,
            "table_name": table_name,
            "bton": bton
        };
    	$.ajax({
            url: '/add_news',
            type: 'post',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify(input),
            success: function (data) {
                console.log(data);
            }
        });
    }
    </script>
    <style>
        .highlight-enroll {
            background-color: #e67300;
            color: white;
            font-weight: bold;
            border-radius: 5px;
            padding: 2px 5px;
        }
        .highlight-edit {
            background-color: #cc5200;
            color: white;
            font-weight: bold;
            border-radius: 5px;
            padding: 2px 5px;
        }
        .highlight-type {
            background-color: #993d00;
            color: white;
            font-weight: bold;
            border-radius: 5px;
            padding: 2px 5px;
        }
        .tag-count {
            font-weight: bold;
            color: white;
            background-color: #1a75ff;
            padding: 2px 6px; 
            border-radius: 4px;
        }
    </style>
</head>

<body>
{% include 'navigator.html' %}
<div class="container" style="border: 0px solid red">
    <div id='mainContent' class="row" style="border: 0px solid blue">
        <ul class="row col-12 nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item custom-tab" role="presentation">
                <a class="nav-link custom-tab-link" style="padding: 8px 50px;" href="/filter_weekly_report/{{ table_name }}">
                    First Round Filtering
                </a>
            </li>
            <li class="nav-item custom-tab" role="presentation">
                <a class="nav-link custom-tab-link active" style="padding: 8px 50px;" href="/edit_weekly_report/{{ table_name }}">
                    Edit
                </a>
            </li>
            <li class="nav-item custom-tab" role="presentation">
                <a class="nav-link custom-tab-link" style="padding: 8px 50px;" href="/show_report/{{ table_name }}">
                    Preview
                </a>
            </li>
        </ul>
        <div class="row col-10" style="margin-bottom: 300px;">
            <div class="text-left" style="margin-top: 10px;">
                <label style="font-weight: bolder;">{{ report_state.weekly_report_name }}</label>
                <label>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;creator: {{ report_state.principal }}&nbsp;&nbsp;|&nbsp;&nbsp;</label>
                <label> creation time: {{ report_state.create_time }}</label>
                <a href="/editor_comment/{{ table_name }}" class="btn btn-primary btn-info text-center" style="margin-left: 50px;">
                    {% if report_state.content %}
                        edit comments
                    {% else %}
                        add comments
                    {% endif %}
                </a>
            </div>
            <div class="col-12 section">
                <div class="d-flex col-12 justify-content-center">
                    <div class="btn btn-light p-3 section-title">
                        <span>Preliminary News</span>
                        <span class="badge badge-primary" style="min-width: 78px;">{{ length }}</span>
                    </div>
                </div>
                {% for news,state in news_link %}
                <div class="row msg-list">
                    <div class="col-13 detail">
                        <div class="title">
                            <a class="headline" href='{{ news["url"] }}' target="_blank">{{ news["title"] }}</a>
                            <button class="btn btn-success mr-3"
                                    id= "{{ news['id'] }}_add_box"
                                    onclick="add_to_report({{ news['id'] }}, '{{ table_name }}')">join weekly report</button>
                            <button class="btn btn-outline-info mr-3"
                                    onclick="sendData({{ news['id'] }}, '{{ table_name }}')">edit news</button>
                        </div>
                        <div class="info">
                            time: {{ news["time"] }}&nbsp;&nbsp;&nbsp;
                            source: {{ news["source"] }}&nbsp;&nbsp;&nbsp;
                            {% if state[4] == 1 %}
                            <span class="highlight-enroll">
                                selected
                            </span>
                            &nbsp;&nbsp;&nbsp;
                            {% else %}
                            unselected&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {% if state[5] == 1 %}
                            <span class="highlight-edit">
                                edited
                            </span>
                            &nbsp;&nbsp;&nbsp;
                            {% else %}
                            not edited&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {% if state[9] == None %}
                            not classified&nbsp;&nbsp;&nbsp;
                            {% else %}
                            <span class="highlight-type">
                                {{ state[9] }}
                            </span>
                            &nbsp;&nbsp;&nbsp;
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-2" style="padding-left: 15px; border: 0px solid black">
            <div class="col-12 list-group" id="sidebar" style="padding: 0; margin-top: 15px;">
                <span href="#" class="list-group-item list-group-item-action active text-center">
                    sum of selected
                </span>
                {% for tag in tags %}
                    {% if tag[0] != None %}
                    <span class="list-group-item list-group-item-action text-center">
                        {{ tag[0] }} : <span class="tag-count">{{ tag[1] }}</span>
                    </span>
                    {% endif %}
                {% endfor %}
                <a href="#" class="list-group-item list-group-item-action active text-center"
                   onclick="scrollToTop()">
                    <svg class="bi bi-arrow-up-left-circle-fill text-light" width="1em" height="1em"
                         viewBox="0 0 16 16"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                         style="margin-bottom: 3px; margin-left: -3px;">
                        <path fill-rule="evenodd"
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM9.5 5h-4a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 1 0V6.707l4.146 4.147a.5.5 0 0 0 .708-.708L6.707 6H9.5a.5.5 0 0 0 0-1z"/>
                    </svg>
                    back to the top
                </a>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>