<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/img/favicon.png" rel="SHORTCUT ICON">
    <title>Economic News Brain</title>

    <!-- Bootstrap JQuery -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/bootbox.min.js"></script>

    <link rel="stylesheet" href="/static/css/navigator.css"/>
    <script src="/static/js/userAuth.js"></script>
    <script src="/static/js/accessory.js"></script>

    <!-- UEditor   -->
    <script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
        $(function () {
            const ue = UE.getEditor('content', {
                initialFrameHeight: 270,
                autoHeightEnabled: false,
                pasteplain: true,
                toolbars: [
                            [
                                'source', // Source code
                                'undo', // Undo
                                'redo', // Redo
                                'bold', // Bold
                                'italic', // Italic
                                'underline', // Underline
                                'strikethrough', // Strikethrough
                                'subscript', // Subscript
                                'superscript', // Superscript
                                'fontborder', // Font border
                                'formatmatch', // Format brush
                                'blockquote', // Blockquote
                                'pasteplain', // Paste as plain text mode
                                'selectall', // Select all
                                'preview', // Preview
                                'horizontal', // Horizontal line
                                'removeformat', // Remove formatting
                                'unlink', // Remove hyperlink
                                'inserttable', // Insert table
                                'edittable', // Edit table properties
                                'edittd', // Edit cell properties
                                'insertrow', // Insert row before
                                'insertcol', // Insert column before
                                'mergeright', // Merge right cell
                                'mergedown', // Merge down cell
                                'deleterow', // Delete row
                                'deletecol', // Delete column
                                'splittorows', // Split into rows
                                'splittocols', // Split into columns
                                'splittocells', // Fully split cells
                                'deletecaption', // Delete table caption
                                'inserttitle', // Insert title
                                'mergecells', // Merge multiple cells
                                'deletetable', // Delete table
                                'insertparagraphbeforetable', // Insert paragraph before table
                                'simpleupload', // Single image upload
                                'insertimage' // Multiple image upload
                            ], [
                                'insertcode', // Code language
                                'fontfamily', // Font family
                                'fontsize', // Font size
                                'paragraph', // Paragraph format
                                'forecolor', // Font color
                                'link', // Hyperlink
                                'emotion', // Emoji
                                'spechars', // Special characters
                                'indent', // First-line indent
                                'justifyleft', // Align left
                                'justifyright', // Align right
                                'justifycenter', // Align center
                                'justifyjustify', // Justify both sides
                                'backcolor', // Background color
                                'insertorderedlist', // Ordered list
                                'insertunorderedlist', // Unordered list
                                'fullscreen', // Fullscreen mode
                                'imagenone', // Default image alignment
                                'imageleft', // Float image left
                                'imageright', // Float image right
                                'imagecenter', // Center image
                                'wordimage', // Convert images from Word
                                'lineheight', // Line height
                                'background' // Background settings
                            ]
                        ]
            })
            ue.ready(function () {
                // initialize content
                this.setContent('{% if comment_content %}{{ comment_content | safe }}{% endif %}');
            });

            const headline = $('#comment_headline');
            var table_name = {{ table_name|tojson|safe }};

            // util function for verification
            function verifyMessage() {
                if (headline.val().length < 4) {
                    bootbox.alert({title: 'Error', message: 'The title cannot be less than 4 words'});
                    return false;
                }
                if (ue.getContentTxt().length < 10) {
                    bootbox.alert({title: 'Error', message: 'The content should not be less than 10 words'});
                    return false;
                }
                return true;
            }

            function postMessage(drafted) {
                $.ajax({
                    url: '/get_comment',
                    type: 'post',
                    data: {
                        headline: headline.val(),
                        content: ue.getContent(),
                        table_name: table_name,
                    },
                    success: function (data) {
                        if (data === 'permission_denied') {
                            bootbox.alert({title: 'Error', message: 'Please log in first'});
                            setTimeout('location.href = "/login?from=" + location.href;', 500);
                        } else if (data === 'failed') {
                            bootbox.alert({title: 'Error', message: (drafted ? 'save' : 'issue') + 'fail'});
                        } else{
                            // server will return message id if succeeded
                            if (drafted) {
                                bootbox.alert({title: 'Information tips', message: 'Save successfully </br> will jump for you...', backdrop: true});
                                setTimeout(function () {
                                    location.href = '/message/detail/' + data;
                                }, 500);
                            } else {
                                bootbox.alert({title: 'Information tips', message: 'Publication success </br> will redirect you to...', backdrop: true});
                                setTimeout(function () {
                                    location.href = '/edit_weekly_report/' + table_name;
                                }, 500);
                            }
                        }
                    },
                    error: function (data) {
                        alert("There's a mistake...");
                    }
                });
            }

            const postBtn = $('#postMessage');
            // post message
            postBtn.click(function () {
                if (verifyMessage())
                    postMessage(false);
            });

            const saveBtn = $('#saveDraft');
            // save message to draft
            saveBtn.click(function () {
                if (verifyMessage())
                    postMessage(true);
            });

            $("form").on("submit", function (event) {
                event.preventDefault();
            });
        });
    </script>

    <style>
        .main-editor {
            margin-top: 25px;
            margin-bottom: 25px;
            padding: 20px;
            border: 2px solid rgba(221, 221, 221, 0.7);
            background-color: #f8f9fa;
            box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.12);
        }
    </style>
</head>
<body>
{% include 'navigator.html' %}
<!-- editor body -->
<div class="container main-editor">
    <div class="row">
        <div class="col-12 input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Title of Digital Economy Review</span>
            </div>
            <input type="text" class="form-control" id="comment_headline"
                   {% if comment_headline %}
                   value="{{ comment_headline }}"
                   {% endif %}>
        </div>
        <div class="col-12">
            <script id="content" type="text/plain"></script>
        </div>
        <div class="col-12" style="margin-top: 10px;">
            <form>
                <div class="form-row align-items-center" style="margin: 0;">
                    <select class="col custom-select" id="messageType">
                        <option value="-1" >
                            {{ tag }}
                        </option>
                    </select>
                    <div class="col my-1" style="text-align: right">
                        <button id="postMessage" class="btn btn-primary">Post a review</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>