<!-- for Jinja2 inclusion -->
<!-- footer -->
<footer class="footer text-muted" style="bottom: 0;width: 100%;height: auto;">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-1">
                <a href="https://github.com/garbonreal/LearnFlask" target="_blank">Github</a>
            </div>
            <div class="col-1"><a href="/about">About</a></div>
            <div class="col-1"><a href="#">Documentation</a></div>
        </div>
        <p>News Select System designed by Garbon.</p>
        <p>A web application based on Flask.</p>
    </div>
</footer>