<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/img/favicon.png" rel="SHORTCUT ICON">
    <title>Economic News Brain</title>

    <!-- Bootstrap JQuery -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- MD5  -->
    <script src="/static/js/md5.js"></script>

    <link rel="stylesheet" href="/static/css/navigator.css"/>
    <link rel="stylesheet" href="/static/css/popovers.css"/>
    <link rel="stylesheet" href="/static/css/message-list.css"/>
    <script src="/static/js/userAuth.js"></script>
    <script src="/static/js/accessory.js"></script>
    <script src="/static/js/accessory-adjust.js"></script>

    <script type="text/javascript">
    function delete_report(table_name)
    {
        var r=confirm("Are you sure to delete?");
        if (r==false){
            return;
        }
        var id = table_name + "_delete_box";
    	var bton = document.getElementById(id).innerHTML;
    	if(bton === "Deleted"){
    		document.getElementById(id).innerHTML="Delete";
    	}
    	if(bton === "Delete"){
    		document.getElementById(id).innerHTML="Deleted";
    	}
    	var input = {
            "table_name": table_name,
            "bton": bton
        };
    	$.ajax({
            url: '/delete_report',
            type: 'post',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify(input),
            success: function (data) {
                console.log(data);
            }
        });
    }
    </script>
</head>

<body>
{% include 'navigator.html' %}
<div class="container" style="border: 0px solid red">
    <div class="text-left">
        <a href="/create_weekly_report" class="btn btn-primary btn-info text-center">
            Create weekly reports
        </a>
    </div>
    <div id='mainContent' class="row" style="border: 0px solid blue">
        <div class="row col-12" style="margin-bottom: 100px;">
            <div class="col-12 section">
                <div class="d-flex col-12 justify-content-center">
                    <div class="btn btn-light p-3 section-title">
                        <span>List of weekly reports</span>
                        <span class="badge badge-primary" style="min-width: 78px;">{{ len }}</span>
                    </div>
                </div>
<!--                <form action="/create_weekly_report" method="post">-->
<!--                    <input type="submit" name="current_time" value="创建周报">-->
<!--                </form>-->
                {% for report in weekly_report %}
                <div class="row msg-list">
<!--                    <div class="col-1" style="padding: 0;">-->
<!--                        <img class="rounded-circle avatar" src=""/>-->
<!--                    </div>-->
                    <div class="col-11 detail">
                        <div class="title">
                            <a class="headline" href="/edit_weekly_report/{{ report.title }}">{{ report.weekly_report_name }}</a>
                            <button class="btn btn-outline-danger mr-3"
                                    id= "{{ report.title }}_delete_box"
                                    onclick="delete_report('{{ report.title }}')">Delete weekly report</button>
                        </div>
                        <div class="info">
                            author: {{ report.principal }}&nbsp;&nbsp;&nbsp;
                            date: {{ report.create_time }}&nbsp;&nbsp;&nbsp;
                            first select number: {{ report.news_count }}&nbsp;&nbsp;&nbsp;
                            number of releases: {{ report.weekly_report_count }}&nbsp;&nbsp;&nbsp;
                            state: {{ report.is_publish }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>

<script>
    function get_time(){
        var date = new Date();
        var strDate = date.getHours()+':'+date.getMinutes()+':'+date.getSeconds()+':'+date.getMilliseconds();
        document.getElementById("time").innerHTML = strDate;
    }
</script>
</html>